*{
    box-sizing: border-box;
}

body {
    justify-content: center;
    align-items: center;
    background: #191c29; 
}

h1{
    color: azure;
}

.cards-container { 
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.content{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.card {
    border-radius: 8px;
    width: 200px;
    height: 350px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    perspective: 2500px;
    text-decoration: none;
}


.cover{
    border-radius: 8px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.text-overlay{
    border-radius: 8px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semitransparente */
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
}

.text-hidden{
    border-radius: 8px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: blanchedalmond;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: rgba(0, 0, 0, 0.5); /* Semitransparente */
    opacity: 0; /* Ocultar inicialmente */
    transition: opacity 0.3s ease; /* Animación de transición */
}
.card:hover .text-hidden{
    opacity: 1; /* Mostrar al pasar el mouse */
}

.card:hover .text-overlay{
    opacity: 0;
}


/* Estilo para los encabezados de la tabla */
#tableArticulos thead th {
    background-color: #4CAF50; /* Color de fondo */
    color: white; /* Color de texto */
    font-weight: bold; /* Negrita */
}

/* Estilo para las celdas de la tabla */
#tableArticulos tbody td {
    background-color: #f2f2f2; /* Color de fondo */
    color: #333; /* Color de texto */
}

/* Ajustar el tamaño de la barra de búsqueda */
.dataTables_filter input {
    width: 150px; /* Reducir el ancho */
    padding: 2px 5px; /* Ajustar el padding para que sea más pequeño */
    font-size: 14px; /* Ajustar el tamaño de la fuente si es necesario */
}

/* Si deseas cambiar el color de texto de la información de paginación y búsqueda a blanco */
.dt-search, .dataTables_info{
    color: white; /* Color de texto */
}


.dt-info, .dt-length{
    color: #f2f2f2; /* Color parecido al blanco */
}


/* Estilo para el botón de agregar */
#btnNuevoArticulo{
    background-color: #008CBA;     /* Color de fondo azul */
    color: white; /* Color de texto */
    padding: 10px 20px; /* Ajustar el padding */
    text-align: center; /* Alinear el texto al centro */
    text-decoration: none; /* Sin subrayado */
    display: inline-block; /* Mostrar como bloque */
    font-size: 13px; /* Ajustar el tamaño de la fuente */
    margin: 4px 2px; /* Ajustar el margen */
    cursor: pointer; /* Cambiar el cursor al pasar el mouse */
    border-radius: 8px; /* Ajustar el radio de borde */
    width: 90px; /* Ajustar el ancho */
    height: 90px; /* Ajustar el alto */
    /*Ajustar el texto para que quepa dentro del ancho y alto*/    
    text-overflow: ellipsis;

}

#btnNuevoArticulo svg{
    width: 30px; /* Ajustar el ancho del icono */
    height: 30px; /* Ajustar el alto del icono */
}

#btnNuevoArticulo:hover{
    background-color: #005f6b; /* Cambiar el color de fondo al pasar el mouse */
}


/*Estilo para el botón de inicio */
.btnInicio {
     /* Color de fondo azul turquesa*/
    background-color: #008CBA;
    color: white; /* Color de texto */
    border: none; /* Sin borde */
    padding: 10px 20px; /* Ajustar el padding */
    text-align: center; /* Alinear el texto al centro */
    text-decoration: none; /* Sin subrayado */
    display: inline-block; /* Mostrar como bloque */
    font-size: 16px; /* Ajustar el tamaño de la fuente */
    margin: 4px 2px; /* Ajustar el margen */
    cursor: pointer; /* Cambiar el cursor al pasar el mouse */
    border-radius: 8px; /* Ajustar el radio de borde */
}

.btnInicio:hover{
    background-color: #005f6b; /* Cambiar el color de fondo al pasar el mouse */
}

/*Estilo para el titulo de la noticia completa */
.titulo_noticia{
    color: azure; /* Color de texto */
    font-size: 30px; /* Ajustar el tamaño de la fuente */
    text-align: center; /* Alinear el texto al centro */
}

/*Estilo para el contenido de la noticia completa */
.contenido_noticia{
     /* Color de texto cercano al blanco*/
    color: #f2f2f2;
    font-size: 20px; /* Ajustar el tamaño de la fuente */
    text-align: justify; /* Justificar el texto */
}


/*Imagen de la noticia que cubre el 100% del ancho*/
.img_noticia{
    width: 100%; /* Ancho del 100% */
    height: 50px;
    object-fit: cover; /* Ajustar la imagen */
}

/*Estilo para el botón de tabla */
.btnTabla {
    background-color: #008CBA; /* Color de fondo azul */
    color: white; /* Color de texto */
    padding: 10px 20px; /* Ajustar el padding */
    text-align: center; /* Alinear el texto al centro */
    text-decoration: none; /* Sin subrayado */
    display: inline-block; /* Mostrar como bloque */
    font-size: 16px; /* Ajustar el tamaño de la fuente */
    margin: 4px 2px; /* Ajustar el margen */
    cursor: pointer; /* Cambiar el cursor al pasar el mouse */
    border-radius: 8px; /* Ajustar el radio de borde */
}

.btnTabla svg{
    width: 60px; /* Ajustar el ancho del icono */
    height: 60px; /* Ajustar el alto del icono */
}