*{
    box-sizing: border-box;
}

body {
    justify-content: center;
    align-items: center;
    background: #191c29; 
}

h1{
    color: azure;
}

.cards-container { 
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.content{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.card {
    border-radius: 8px;
    width: 200px;
    height: 350px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    perspective: 2500px;
    text-decoration: none;
}


.cover{
    border-radius: 8px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.text-overlay{
    border-radius: 8px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semitransparente */
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
}

.text-hidden{
    border-radius: 8px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: blanchedalmond;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: rgba(0, 0, 0, 0.5); /* Semitransparente */
    opacity: 0; /* Ocultar inicialmente */
    transition: opacity 0.3s ease; /* Animación de transición */
}
.card:hover .text-hidden{
    opacity: 1; /* Mostrar al pasar el mouse */
}

.card:hover .text-overlay{
    opacity: 0;
}


/* Estilo para los encabezados de la tabla */
#tableArticulos thead th {
    background-color: #4CAF50; /* Color de fondo */
    color: white; /* Color de texto */
    font-weight: bold; /* Negrita */
}

/* Estilo para las celdas de la tabla */
#tableArticulos tbody td {
    background-color: #f2f2f2; /* Color de fondo */
    color: #333; /* Color de texto */
}

/* Ajustar el tamaño de la barra de búsqueda */
.dataTables_filter input {
    width: 150px; /* Reducir el ancho */
    padding: 2px 5px; /* Ajustar el padding para que sea más pequeño */
    font-size: 14px; /* Ajustar el tamaño de la fuente si es necesario */
}

/* Si deseas cambiar el color de texto de la información de paginación y búsqueda a blanco */
.dt-search, .dataTables_info{
    color: white; /* Color de texto */
}